In [1]:
from pandas import read_csv

In [2]:
#1. Прочитайте csv файл (метод read_csv)
file = "bestsellers with categories.csv"
df = read_csv(file, encoding="latin1")

#2. Виведіть перші 10 рядків (метод head)
df.head(10)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,11,2011,Fiction
6,A Game of Thrones / A Clash of Kings / A Storm...,George R. R. Martin,4.7,19735,30,2014,Fiction
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,15,2017,Fiction
8,"A Higher Loyalty: Truth, Lies, and Leadership",James Comey,4.7,5983,3,2018,Non Fiction
9,A Man Called Ove: A Novel,Fredrik Backman,4.6,23848,8,2016,Fiction

In [3]:
#3.	Виведіть розміри датасету (метод shape)
shape = df.shape
print(f"Dataset gives us information about {shape[0]} books")

Dataset gives us information about 550 books

In [4]:
#4.	Змініть назви всіх колонок: назва з маленької букви, без пробілів через підкреслення.
df.columns = ['name', 'author', 'user_rating', 'reviews', 'price', 'year', 'genre']

In [5]:
#5.	Вивести кількість пропусків у кожному стовпчику.

print(df.isna().sum())
print("\nThere are no missing values in the dataset")

name           0
author         0
user_rating    0
reviews        0
price          0
year           0
genre          0
dtype: int64

There are no missing values in the dataset

In [6]:
#6.	За допомогою методу unique  перевірте. Які є унікальні жанри в стовпці genre 

unique_genre = df["genre"].unique()

print(f"Unique genres are: {unique_genre}")

Unique genres are: ['Non Fiction' 'Fiction']

In [7]:
#7.	Визначте максимальну, мінімальну, медіанну ціну за допомогою методів  max, min, mean, median

prices = df["price"]
max_price = prices.max()
min_price = prices.min()
mean_price = prices.mean()
median_price = prices.median()

print(f"Max price: {max_price}\nMin price: {min_price}\nMean price: {mean_price}\nMedian price: {median_price}")

Max price: 105
Min price: 0
Mean price: 13.1
Median price: 11.0

In [8]:
#8.	Виконайте наступні завдання з пошуку і сортування даних
#Який рейтинг у датасеті найвищий? 
#Скільки книг мають такий рейтинг? 
#Яка книга має найбільше відгуків? 
#З тих книг, що потрапили до Топ-50 у 2010 році, яка книга найдорожча ?
#Скільки книг жанру Fiction потрапили до Топ-50 у 2012 році 
#Скільки книг з рейтингом 4.9 потрапило до рейтингу у 2010 та 2011 роках (використовуйте | або метод isin)? 


highest_rating = df["user_rating"].max()
amount_of_books = len(df[df["user_rating"] == highest_rating])
the_most_reviews = df.loc[df["reviews"].idxmax()]["name"]
the_most_expensive = df.loc[df[df["year"] == 2010]["price"].idxmax()]["name"]
fiction_amount = len(df[(df["genre"] == "Fiction") & (df["year"] == 2012)])
amount_of_books_2010_2012 = len(df[((df["year"] == 2010) | (df["year"] == 2011)) & (df["user_rating"] == 4.9)])

print(f"The highest user rating: {highest_rating}\nAmount of books with this rating: {amount_of_books}\nThe most reviewed book: {the_most_reviews}\nThe most expensive book among books released in 2010: {the_most_expensive}\nAmount of books released in 2012 with 'Fiction' genre: {fiction_amount}\nAmount of books with 4.9 user rating released in 2010/2011: {amount_of_books_2010_2012}")

The highest user rating: 4.9
Amount of books with this rating: 52
The most reviewed book: Where the Crawdads Sing
The most expensive book among books released in 2010: Publication Manual of the American Psychological Association, 6th Edition
Amount of books released in 2012 with 'Fiction' genre: 21
Amount of books with 4.9 user rating released in 2010/2011: 1

In [9]:
df.groupby("genre")["price"].agg([min, max])

             min  max
genre
Fiction        0   82
Non Fiction    0  105